{% extends "core/faculty/sidebar.html" %}

{% block header %}
<style>
    .btn-primary {
        width: 78px; /* Adjust the width as needed */
    }

    .btn-danger{
        width: 78px; /* Adjust the width as needed */
    }
</style>
<script src="..\..\..\static\js\loader.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        // Make an AJAX request to the Flask route to get actual data
        $.ajax({
            url: '/get_attendance_data',  // Replace with the actual route for your Flask view
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                // Use the returned data to populate the chart
                var chartData = [['Status', 'Count', { role: 'style' }]];
                $.each(data, function (index, item) {
                    chartData.push([item.status, item.count, item.color]);
                });

                var chartData = google.visualization.arrayToDataTable(chartData);

                var options = {
                    title: '',
                    titleTextStyle: {
                        fontSize: 20,
                    },
                    chartArea: { width: '100%', height: '95%' },
                };

                var chart = new google.visualization.PieChart(document.getElementById('attendancePieChart'));
                chart.draw(chartData, options);
            },
            error: function (error) {
                console.error('Error fetching data:', error);
            }
        });
    }

    function downloadAction(classlist_id, subject, section) {
        console.log(classlist_id);  
        $.ajax({
            url: `/export_attendance_csv?classlist_id=${classlist_id}`,
            method: 'GET',
            xhrFields: {
                responseType: 'blob' // Set the expected response type to blob
            },
            success: function (data) {
                var a = document.createElement('a');
                var url = window.URL.createObjectURL(data);
                a.href = url;
                a.download = `attendance_records_${subject}_${section}.csv`;
                document.body.append(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
            },
            error: function (xhr, status, error) {
                console.error(`Error downloading attendance records for subject ${subject} and section ${section}:`, error);
                alert(`Failed to download attendance records for subject ${subject} and section ${section}. Please try again later.`);
            }
        });
    }
    
</script>

{% endblock %}

{% block body %}
<h1 class="h3 mb-4"><strong> Dashboard</strong></h1>
<hr>

<div class="row">
    <div class="col-md-6 col-lg-3 mb-3">
        <select class="form-select" style="height: 35px; background-color: #f0f0f0; color: black;">
            <option selected>Select School Year</option>
            <option value="2324">2324</option>
            <option value="2425">2425</option>
        </select>
    </div>
    <div class="col-md-6 col-lg-3 mb-3">
        <select class="form-select" style="height: 35px; background-color: #f0f0f0; color: black;">
            <option selected>Select Semester</option>
            <option value="Semester.FIRST">First Semester</option>
            <option value="Semester.SECOND">Second Semester</option>
            <option value="Semester.SUMMER">Summer Semester</option>
        </select>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="text-center">
            <div id="attendancePieChart" class="mb-3" style="max-width: 300px;"></div>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="table datatables table-bordered table-condensed table-striped p-0 m-0 dataTable no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%; border: 1px solid #696969; border-radius: 10px;">
        <thead>
            <tr role="row">
                <th class="sorting_disabled" rowspan="1" colspan="1" style="background-color: #701c1c; color: white;">School Year</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="background-color: #701c1c; color: white;">Semester</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="background-color: #701c1c; color: white;">Section</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="background-color: #701c1c; color: white;">Subject</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="background-color: #701c1c; color: white;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for classlist in classlists %}
            <tr role="row" style="background-color: #f9f9f9;">
                <td tabindex="0">{{ classlist.school_year }}</td>
                <td>{{ classlist.semester.value }}</td>
                <td>{{ classlist.section_code }}</td>
                <td>{{ classlist.subject_name }}</td>
                <td>
                    <button class="btn btn-primary btn-sm custom-btn" onclick="downloadAction('{{ classlist.id }}', '{{ classlist.subject }}', '{{ classlist.section }}')">Download </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
