{% extends "core/faculty/sidebar.html" %}

{% block header %}

{% endblock %}

{% block body %}
<div class="d-flex align-items-center justify-content-between mb-4">
    <h1 class="h3"><strong> Real Time Attendance</strong></h1>
    <div class="input-group" style="width: 25%;">
        <input type="text" class="form-control" id="search-input" placeholder="Search.." aria-label="Search" aria-describedby="search-button" 
        style="margin-top: 15px;  
        border-color: black;" >
    </div>
</div>

<div class="table-responsive" style="overflow-x: auto;">
    <table class="table datatables table-bordered table-condensed table-striped p-0 m-0" style="width: 100%; border: 1px solid #696969; border-radius: 10px;">
        <thead>
            <tr role="row">
                <th class="sorting_disabled" rowspan="1" colspan="1" style="background-color: #701c1c; color: white;">Surname</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="background-color: #701c1c; color: white;">Given Name</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="background-color: #701c1c; color: white;">Section</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="background-color: #701c1c; color: white;">Date & Time</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="background-color: #701c1c; color: white;">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for au in attendance_user %}
            <tr role="row" style="background-color: #f9f9f9;">
                <td>{{ au.last_name }}</td>
                <td>{{ au.first_name }}</td>
                <td>{{ au.section_code }}</td>
                <td>{{ au.created }}</td>
                <td>{{ au.attendance_status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById("search-input").addEventListener("input", function () {
        filterTable();
    });

    function filterTable() {
        const input = document.getElementById("search-input");
        const filter = input.value.toUpperCase();
        const rows = document.querySelectorAll(".row-to-filter");

        rows.forEach((row) => {
            const text = row.getAttribute("data-filter");
            if (text.toUpperCase().indexOf(filter) > -1) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    }
</script>
{% endblock %}