{% extends "core/faculty/sidebar.html" %}

{% block header %}

{% endblock %}

{% block body %}

<style>
    
    @media (max-width: 767px) {
        .table-responsive {
            overflow-x: auto;
        }

        .table thead {
            display: none;
        }

        .table tbody tr {
            display: block;
            margin-bottom: 20px;
            border: 3px solid #800000;
            border-radius: 10px;
            padding: 10px;
            background-color: #f9f9f9;
        }

        .table tbody td {
            display: block;
            text-align: left; 
        }
    }
</style>

<div class="d-flex align-items-center justify-content-between mb-4">
    <h1 class="h3" style="margin-top: 15px;"><strong>Real Time Attendance</strong></h1>
    <hr>
    <div class="input-group" style="width: 25%;">
        <input type="text" class="form-control" id="search-input" placeholder="Search.." aria-label="Search" aria-describedby="search-button" 
        style="margin-top: 15px; border-color: black;">
    </div>
</div>

<div class="table-responsive" style="margin-top: 10px;">
    <table class="table table-bordered table-striped p-0 m-0">
        <tbody>
            {% for au in attendance_user %}
            <tr role="row" style="background-color: #f9f9f9;">
                <td>{{ au.last_name }}</td>
                <td>{{ au.first_name }}</td>
                <td>{{ au.section_code }}</td>
                <td>{{ au.created }}</td>
                <td>{{ au.attendance_status.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById("search-input").addEventListener("input", function () {
        filterTable();
    });

    function filterTable() {
        const input = document.getElementById("search-input");
        const filter = input.value.toUpperCase();
        const rows = document.querySelectorAll(".row-to-filter");

        rows.forEach((row) => {
            const text = row.getAttribute("data-filter");
            if (text.toUpperCase().indexOf(filter) > -1) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    }
</script>
{% endblock %}
