{% extends "core/student/sidebar.html" %}

{% block body %}

<h1 class="h3 mb-4"><strong> Your Attendance Record</strong></h1>
<table>
    <tr>
        <th>
            attendance_id
        </th>
        <th>
            user_id
        </th>
        <th>
            created
        </th>
        <th>
            attendance_status
        </th>
    </tr>
    {% for attendance in attendance_records %}
    <tr>
        <td>
            {{ attendance.id }}
        </td>
        <td>
            {{ attendance.user_id }}
        </td>
        <td>
            {{ attendance.created }}
        </td>
        <td>
            {{ attendance.attendance_status }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
