{% extends "_base.html" %}
{% block content %}

<h1 class="text-center">Welcome {{current_user.email}}!</h1>
<form action="{{ url_for('core.add') }}" method="post">
    <input type="submit" name="add_attendance"/>   

    <!-- Add a button to navigate to view the QR code -->
    <a href="/view_qr_code" class="btn btn-primary">View QR Code</a>

    <!-- Add a button to download the QR code -->
    <a href="{{ url_for('core.download_qr_code') }}"><button type="button">Download QR Code</button></a>
</form>

<table>
    <tr>
        <th>
            attendance_id
        </th>
        <th>
            user_id
        </th>
        <th>
            created
        </th>
        <th>
            attendance_status
        </th>
    </tr>
    {% for attendance in attendance_records %}
    <tr>
        <td>
            {{ attendance.id }}
        </td>
        <td>
            {{ attendance.user_id }}
        </td>
        <td>
            {{ attendance.created }}
        </td>
        <td>
            {{ attendance.attendance_status }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
