{% extends "core/student/sidebar.html" %}

{% block body %}
    <div class="qr-code-container">
        <h1 class="header-text">QR Code</h1>
        <hr>
        <div class="qr-code-image-container">
            <img src="{{ url_for('core.view_qr_code') }}" alt="QR Code" class="qr-code-img">
        </div>
        
        <a href="{{ url_for('core.download_qr_code') }}" class="download-button">Download QR Code</a>
    </div>

    <style>

        .box{
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin-top: 17px;
        padding: 1.25rem;
        border: 0.001px solid rgba(0, 0, 0, 0.16);
        border-top: 5px solid maroon;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
    }
        .box-qr-code{
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin-top: 17px;
        padding: 1.25rem;
        border: 0.001px solid rgba(0, 0, 0, 0.16);
        border-top: 5px solid maroon;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
    }
        .qr-code-container {
            text-align: center;
        }
        .header-text {
            font-size: 35px;
            font-weight: bold;
            color: black;
            margin-bottom: 10px;
            margin-top: 25px;
        }
        .qr-code-image-container {
            position: relative;
        }
        .qr-code-img {
            max-width: 100%;
            height: auto;
        }
        .download-button {
            background-color: #007bff;
            color: white;
            text-decoration: none;
            padding: 8px 16px;
            display: inline-block;
            border-radius: 4px;
            margin-top: 20px;
            font-weight: bold;
        }
    </style>
{% endblock %}
