{% extends "_base.html" %}

{% block content %}

<div class="container-fluid" style="padding: 0;">
  <div class="row g-x" style="margin-right: 0; margin-left: 0;">
    
      
      {% include "accounts/gradient.html" %}

      <!-- FORM CONTAINER BEGIN -->
      {% block form_container %}
      <div class="col-lg-6 col-md-6 pup-form-container"
      style=
        "background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;">

        <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12 pup-form"
        style=
          "display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 100vh;">

          <form role="form" method="post" action="" >
            {{ form.csrf_token }}
            <div class="form-floating ">
              {{ form.email(placeholder="email", class="form-control mb-2") }}
              {{ form.email.label }}
              {% if form.email.errors %}
                {% for error in form.email.errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            <div class="form-floating" style="margin-top: 20px;">
              {{ form.password(placeholder="password", class="form-control mb-2") }}
              {{ form.password.label }}
                {% if form.password.errors %}
                  {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% endif %}

                <!-- eye i tag -->
                <i class="fa-regular fa-eye-slash" id="toggleButton" onclick="togglePasswordVisibility()"
                style=
                  "position: absolute;
                  top: 55%;
                  right: 20px;
                  transform: translateY(-50%);
                  cursor: pointer;
                  width: 25px;" >
                </i>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" style="background-color: #800000; 
            border-radius: 40px; margin-top: 30px; font-family: roboto; font-weight: 550; font-size: 17px;
            margin-bottom: 30px;">LOGIN</button>
             <hr class="my-2" >

            <p class="text-center mt-3" style="margin-top: 20px;">No existing account? <a href="{{ url_for('accounts.register') }}">Register now</a></p>
          </form>
        <div>
      </div>
      {% endblock %}
      <!-- FORM CONTAINER END -->
    
  </div>
  <script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("password");
        var toggleButton = document.getElementById("toggleButton");
        
        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleButton.classList.remove("fa-eye-slash");
            toggleButton.classList.add("fa-eye");
        } else {
            passwordField.type = "password";
            toggleButton.classList.remove("fa-eye");
            toggleButton.classList.add("fa-eye-slash");
        }
    }
</script>

{% endblock %}