{% extends "_base.html" %}

{% block header %}
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: auto;
    position: relative;
  }

  #overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 0, 0, 0.139); /* Maroon color with some transparency */
  z-index: -1;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/stvnmbt/pasok/main/src/static/images/Lagoon.jpg");
  background-size: cover;
  opacity: 0.9;
  z-index: -2;
}

  .pup-form-container {
    background: #fff;
    width: 75%; /* Adjust the width as needed */
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    padding: 1rem;
    border: 0.001px solid rgba(0, 0, 0, 0.16);
    border-top: 8px solid maroon;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  }

  .form-floating {
    position: relative;
  }

  #toggleButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
  }

  .login-header {
    color: #800000;
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
  }

  .form-control {
    font-size: 14px; /* Adjust the font size as needed */
    padding: 8px; /* Adjust the padding as needed */
  }

  .btn-primary {
    background-color: #800000;
    border-radius: 30px;
    font-family: 'Roboto';
    font-weight: 550;
    font-size: 16px; /* Adjust the font size as needed */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn-primary:focus {
  outline: none;
  }

  .text-center {
    margin-top: 15px;
    font-size: 14px; /* Adjust the font size as needed */
  }

  .text-muted{
    font-size: 10px;
    padding: 10px;
    font-style: italic;
  }
</style>
{% endblock %}

{% block content %}
  <div id="overlay"></div>
  <div class="pup-form-container">
    <img src="https://storage.googleapis.com/pasoksystem.appspot.com/static/images/PUPLogo.png" alt="PUP Logo" style="display: block; margin: 0 auto; max-width: 80px; max-height: 80px; margin-bottom: 10px;">
    <div class="login-header">PASOK REGISTER</div>

    <div class="pup-form">
      <form role="form" method="post" action="">
        {{ form.csrf_token }}

        <h1 class="h3 mb-3 fw-normal text-center" style="font-weight: bolder; color: #800000; font-family: 'Roboto', sans-serif; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);">
          Create <span style="color: maroon;">Account</span>
      </h1>

        <div class="row">
          <!-- Left column: Email, Password, Confirm Password -->
          <div class="col-md-6">
            <div class="form-floating">
              {{ form.email(placeholder="Email", class="form-control mb-2") }}
              {{ form.email.label }}
              {% if form.email.errors %}
                {% for error in form.email.errors %}
                  <div class="alert alert-danger" role="alert" style="font-size: 10px;">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>

            <div class="form-floating position-relative">
              {{ form.password(placeholder="Password", class="form-control mb-2", id="password-input") }}
              {{ form.password.label }}
              <i class="fa-regular fa-eye-slash" id="toggleButton" onclick="togglePasswordVisibility()"
                style="position: absolute; top: 55%; right: 20px; transform: translateY(-50%); cursor: pointer; width: 25px;">
              </i>
              {% if form.password.errors %}
                {% for error in form.password.errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>

            <div class="form-floating position-relative">
              {{ form.confirm(placeholder="Confirm Password", class="form-control mb-2", id="confirm-password-input") }}
              {{ form.confirm.label }}
              <i class="fa-regular fa-eye-slash" id="confirm-toggleButton" onclick="toggleConfirmPasswordVisibility()"
                style="position: absolute; top: 55%; right: 20px; transform: translateY(-50%); cursor: pointer; width: 25px;">
              </i>
              {% if form.confirm.errors %}
                {% for error in form.confirm.errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>

          <!-- Right column: First Name, Middle Name, Last Name -->
          <div class="col-md-6">
            <div class="form-floating">
              {{ form.first_name(placeholder="First Name", class="form-control mb-2") }}
              {{ form.first_name.label }}
              {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>

            <div class="form-floating">
              {{ form.middle_name(placeholder="Middle Name (Optional)", class="form-control mb-2") }}
              {{ form.middle_name.label }}
              {% if form.middle_name.errors %}
                {% for error in form.middle_name.errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>

            <div class="form-floating">
              {{ form.last_name(placeholder="Last Name", class="form-control mb-2") }}
              {{ form.last_name.label }}
              {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="text-muted" style="white-space: pre-wrap;">To make a faculty account, please use an email with the PUP domain (@pup.edu.ph) during registration.&#10;&#10;Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character.
        </div>
        <div class="text-center">
          <button class="w-75 btn btn-lg"
            style="background-color: #800000; border-radius: 40px; margin-top: 1px; font-family: 'Roboto'; font-weight: 550; font-size: 17px; color: white;"
            type="submit">SIGN UP</button>
        </div>
        <p class="text-center mt-3">Already registered? <a href="{{ url_for('accounts.login') }}">Login now</a></p>
      </form>
    </div>
  </div>

  <script>
    function togglePasswordVisibility() {
      var passwordField = document.getElementById("password-input");
      var toggleButton = document.getElementById("toggleButton");

      if (passwordField.type === "password") {
        passwordField.type = "text";
        toggleButton.classList.remove("fa-eye-slash");
        toggleButton.classList.add("fa-eye");
      } else {
        passwordField.type = "password";
        toggleButton.classList.remove("fa-eye");
        toggleButton.classList.add("fa-eye-slash");
      }
    }
  </script>

  <script>
    function toggleConfirmPasswordVisibility() {
      var confirmPasswordField = document.getElementById("confirm-password-input");
      var confirmToggle = document.getElementById("confirm-toggleButton");

      if (confirmPasswordField.type === "password") {
        confirmPasswordField.type = "text"; 
        confirmToggle.classList.remove("fa-eye-slash");
        confirmToggle.classList.add("fa-eye");
      } else {
        confirmPasswordField.type = "password";
        confirmToggle.classList.remove("fa-eye");
        confirmToggle.classList.add("fa-eye-slash");
      }
    }
  </script>

{% endblock %}
