{% extends "_base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
      <form role="form" method="post" action="">
        {{ form.csrf_token }}
        <h1 class="h3 mb-3 fw-normal text-center">Sign Up</h1>

        <!-- email -->
        <div class="form-floating">
          {{ form.email(placeholder="email", class="form-control mb-2") }}
          {{ form.email.label }}
            {% if form.email.errors %}
              {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
        </div>

        <!-- password -->
        <div class="form-floating">
          {{ form.password(placeholder="password", class="form-control mb-2") }}
          {{ form.password.label }}
            {% if form.password.errors %}
              {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
        </div>

        <!-- confirm password -->
        <div class="form-floating">
          {{ form.confirm(placeholder="Confirm Password", class="form-control mb-2") }}
          {{ form.confirm.label }}
            {% if form.confirm.errors %}
              {% for error in form.confirm.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
        </div>

        <!-- names -->
        <div class="form-floating">
          {{ form.first_name(placeholder="First name", class="form-control mb-2") }}
          {{ form.first_name.label }}
            {% if form.first_name.errors %}
              {% for error in form.first_name.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
        </div>

        <div class="form-floating">
          {{ form.middle_name(placeholder="Middle name (optional)", class="form-control mb-2") }}
          {{ form.middle_name.label }}
            {% if form.middle_name.errors %}
              {% for error in form.middle_name.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
        </div>

        <div class="form-floating">
          {{ form.last_name(placeholder="Last name", class="form-control mb-2") }}
          {{ form.last_name.label }}
            {% if form.last_name.errors %}
              {% for error in form.last_name.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit" style="background-color: #800000; 
            border-radius: 40px; margin-top: 20px; font-family: roboto; font-weight: 550; font-size: 17px;">Sign up</button>
            <p class="text-center mt-3">Already registered? <a href="{{ url_for('accounts.login') }}">Login now</a></p>
      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}


