{% extends "_base.html" %}

{% block header %}{% endblock %}

{% block content %}
<!-- Sidebar -->
<div class="container-fluid ">
    <div class="row vh-100 ">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <ul class="nav flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                    {% if current_user.is_faculty %}
                    <li class="nav-item ">
                        <a href="{{ url_for('core.home') }}" class="nav-link px-sm-0 px-2 ms-2">
                            <i class="fa-solid fa-gauge" style="color:#6c757d;"></i><span class="ms-1 d-none d-sm-inline" style="color: black; font-size: 15px;">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="{{ url_for('core.realtime') }}" class="nav-link px-sm-0 px-2 ms-2">
                        <i class="fa-regular fa-clock" style="color: #6c757d;"></i><span class="ms-1 d-none d-sm-inline" style="color: black; font-size: 15px;">Real Time Attendance</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="{{ url_for('core.records') }}" class="nav-link px-sm-0 px-2 ms-2">
                        <i class="fa-solid fa-clipboard-list" style="color: #6c757d;"></i><span class="ms-1 d-none d-sm-inline" style="color: black; font-size: 15px;">Student Records</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href=" {{ url_for('core.classlist') }}" class="nav-link px-sm-0 px-2 ms-2">
                        <i class="fa-solid fa-list" style="color: #6c757d;"></i><span class="ms-1 d-none d-sm-inline" style="color: black; font-size: 15px;">Class List</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href=" {{ url_for('core.qrscanner') }}" class="nav-link px-sm-0 px-2 ms-2">
                        <i class="fa-solid fa-camera" style="color: #6c757d;"></i><span class="ms-1 d-none d-sm-inline" style="color: black; font-size: 15px;">QR Scanner</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href=" {{ url_for('core.qrgenerator') }}" class="nav-link px-sm-0 px-2 ms-2">
                        <i class="fa-solid fa-qrcode" style="color: #6c757d;"></i><span class="ms-1 d-none d-sm-inline" style="color: black; font-size: 15px;">QR Generator</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('core.student_scanner') }}" class="nav-link px-sm-0 px-2 ms-2">
                            <i class="fa-solid fa-qrcode" style="color: #6c757d;"></i><span class="ms-1 d-none d-sm-inline" style="color: black; font-size: 15px;">QR Scanner</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('core.show_qrcode') }}" class="nav-link px-sm-0 px-2 ms-2">
                            <i class="fa-regular fa-clock" style="color: #6c757d;"></i><span class="ms-1 d-none d-sm-inline" style="color: black; font-size: 15px;">QR Code</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('core.join_classlist') }}" class="nav-link px-sm-0 px-2 ms-2">
                            <i class="fa-solid fa-plus" style="color: #6c757d;"></i><span class="ms-1 d-none d-sm-inline" style="color: black; font-size: 15px;">Join Classlist</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col d-flex flex-column h-100" style="margin-left: 2px; margin-right: 2px;">
            <div class="container-fluid p-0">
                <div class="row" style="-ms-flex: 1 1 auto;
                flex: 1 1 auto;
                margin-top: 15px;
                padding-bottom: 10px;
                padding-top: 30px;
                border: 0.001px solid rgba(0, 0, 0, 0.16);
                border-top: 5px solid maroon;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;">
                {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}